html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#047091;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

    /*--- Home ---*/
  .header {
    background-image: url("background3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }
   .description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
   
  }
  
  .description h1 {
    color: #ffab0f;
  }
  
  .description p {
    color: #047091;
    font-size: 1.3rem;
    line-height: 1.5;
  }

    /*--- Content Sections ---*/

    .Content {
    left: 50%;
    position: relative;
    top: 250px;
    transform: translate(-50%, -55%);
    text-align: center;
    background-color: #fff3d9;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .Content h1 {
    color: #ffab0f;
  }

  .Content section {
    color: #047091;
    left: 50%;
    text-align: 40%;


  }
  .Content p {
    color: #047091;
    font-size: 1.3rem;
    line-height: 1.5; 
  }

  /* github button */
  .github-btn {
    padding-right: 17px;
    padding-left: 10px;
  }

    /*--- Deals with Resizing (resizing windows, viewing on mobile) ---*/

  @media (max-width: 800px) {

    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 20%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  
  }